@import '~node_modules/modern-normalize/modern-normalize.css';

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  font-family: var(--title-font);
  text-transform: uppercase;
}

.no-scroll {
  overflow: hidden;
}