@import '~node_modules/modern-normalize/modern-normalize.css';
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

:root {
  --white-color: #fff;
  --white-text-color: #fff;
  --black-text-color: #000;
  --gray-text-color: #907E82;
  --title-text-color: #d41443;
  --pretitle-text-color: #ffa5ba;
  --main-bg-color: #fff5f6;
  --hero-bg-color: #ffb8ca;
  --mobile-menu-bg-color: #e17992;
  --button-hover-color: #ecebeb;
  --icecream-color: #FFB8CA;
  --icecoffe-color: #F0D1A5;
  --milkshakes-color: #C2E297;
  --customer-bg-color: #fafafa;
  --customer-border-color: #e1e1e1;
  --customer-icon-color: #D41342;
  --location-button-color: #D41342;
  --soc-list-color: #FEA5BB;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --main-font: "DM Sans", sans-serif;
  --title-font: "Titan One", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border-width: 0;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  font-family: var(--title-font);
  text-transform: uppercase;
}

.no-scroll {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1600px;
    padding: 0 16px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 18px;
  min-height: 18px;
  font-weight: 700;
  color: var(--title-text-color);
  background-color: var(--white-color);
  transition: transform 250ms var(--time-function), color 250ms var(--time-function), background-color 250ms var(--time-function), box-shadow 250ms var(--time-function);
}
.button:hover, .button:focus {
  background-color: var(--button-hover-color);
  transform: scale(1.01);
  box-shadow: 2px 2px 4px rgba(10, 10, 10, 0.1);
}
.button--hero-red {
  color: var(--white-color);
  background-color: var(--title-text-color);
}
.button--hero-red:hover, .button--hero-red:focus {
  color: var(--title-text-color);
}

.hero {
  position: relative;
  height: 502px;
  background-color: var(--hero-bg-color);
  background-repeat: no-repeat;
  background-size: 171px 410px, 284px 344px;
  background-position: top 92px right 32px, top 83px right 0;
}
.hero .hero-inner {
  position: relative;
  padding-top: 194px;
}
.webp .hero {
  background-image: url(../images/mobile/hero-img@1x.webp), url(../images/mobile/hero-circle@1x.webp);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .webp .hero {
    background-image: url(../images/mobile/hero-img@2x.webp), url(../images/mobile/hero-circle@2x.webp);
  }
}
.no-webp .hero {
  background-image: url(../images/mobile/hero-img@1x.png), url(../images/mobile/hero-circle@1x.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .no-webp .hero {
    background-image: url(../images/mobile/hero-img@2x.png), url(../images/mobile/hero-circle@2x.png);
  }
}
@media (min-width: 768px) {
  .hero {
    height: 416px;
    background-size: 143px 336px, 335px 333px;
    background-position: top 80px right 303px, top 43px right 185px;
  }
  .hero .hero-inner {
    padding-top: 102px;
    height: 416px;
  }
  .webp .hero {
    background-image: url(../images/tablet/hero-img@1x.webp), url(../images/tablet/hero-circle@1x.webp);
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx), (min-width: 768px) and (min-resolution: 192dpi) {
  .webp .hero {
    background-image: url(../images/tablet/hero-img@2x.webp), url(../images/tablet/hero-circle@2x.webp);
  }
}
@media (min-width: 768px) {
  .no-webp .hero {
    background-image: url(../images/tablet/hero-img@1x.png), url(../images/tablet/hero-circle@1x.png);
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx), (min-width: 768px) and (min-resolution: 192dpi) {
  .no-webp .hero {
    background-image: url(../images/tablet/hero-img@2x.png), url(../images/tablet/hero-circle@2x.png);
  }
}
@media (min-width: 1200px) {
  .hero {
    height: 664px;
    background-size: 236px 557px, 534px 534px;
    background-position: top 108px right 328px, top 54px right 149px;
  }
  .hero .hero-inner {
    padding-top: 147px;
    height: 664px;
  }
  .webp .hero {
    background-image: url(../images/desktop/hero-img@1x.webp), url(../images/desktop/hero-circle@1x.webp);
  }
}
@media (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx), (min-width: 1200px) and (min-resolution: 192dpi) {
  .webp .hero {
    background-image: url(../images/desktop/hero-img@2x.webp), url(../images/desktop/hero-circle@2x.webp);
  }
}
@media (min-width: 1200px) {
  .no-webp .hero {
    background-image: url(../images/desktop/hero-img@1x.png), url(../images/desktop/hero-circle@1x.png);
  }
}
@media (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx), (min-width: 1200px) and (min-resolution: 192dpi) {
  .no-webp .hero {
    background-image: url(../images/desktop/hero-img@2x.png), url(../images/desktop/hero-circle@2x.png);
  }
}
.hero__title {
  width: 218px;
  font-size: 26px;
  line-height: 1.154;
  letter-spacing: 0.04em;
  margin-bottom: 20px;
  color: var(--white-text-color);
}
@media (min-width: 768px) {
  .hero__title {
    width: 162px;
    font-size: 22px;
    line-height: 1.136;
  }
}
@media (min-width: 1200px) {
  .hero__title {
    width: 277px;
    font-size: 38px;
    line-height: 1.158;
    margin-bottom: 24px;
  }
}
.hero__title-accent {
  font-size: 48px;
  line-height: 0.965;
  color: var(--title-text-color);
}
@media (min-width: 768px) {
  .hero__title-accent {
    font-size: 34px;
    line-height: 0.905;
  }
}
@media (min-width: 1200px) {
  .hero__title-accent {
    font-size: 58px;
  }
}
.hero__images {
  display: none;
}
@media (min-width: 768px) {
  .hero__images {
    display: block;
  }
}

.hero-list {
  display: flex;
  gap: 8px;
  gap: 12px;
}
.hero-list__link {
  padding: 7px 14px;
  border-radius: 20px;
  font-size: 8px;
  line-height: 1.25;
}
@media (min-width: 1200px) {
  .hero-list__link {
    padding: 11px 22px;
    font-size: 14px;
    line-height: 1.286;
  }
}

.sale-list {
  display: none;
}
@media (min-width: 768px) {
  .sale-list {
    display: block;
    position: absolute;
    top: 94px;
    right: 0;
  }
  .sale-list__item {
    text-align: right;
    padding-right: 9px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .sale-list__item {
    padding-right: 18px;
  }
}
@media (min-width: 768px) {
  .sale-list__item + .sale-list__item {
    margin-top: 16px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .sale-list__item + .sale-list__item {
    margin-top: 18px;
  }
}
@media (min-width: 768px) {
  .sale-list__title {
    position: relative;
    font-size: 28px;
    line-height: 1.143;
    letter-spacing: 0.04em;
    color: var(--title-text-color);
    z-index: 1;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .sale-list__title {
    font-size: 46px;
    line-height: 1.152;
  }
}
@media (min-width: 768px) {
  .sale-list__title::before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -1px;
    right: -9px;
    z-index: -1;
    border-radius: 50%;
    background-color: var(--white-text-color);
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .sale-list__title::before {
    width: 30px;
    height: 30px;
    top: -3px;
    right: -18px;
  }
}
@media (min-width: 768px) {
  .sale-list__text {
    font-size: 8px;
    line-height: 1.5;
    color: var(--white-text-color);
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .sale-list__text {
    font-size: 14px;
    line-height: 1.286;
  }
}
.description {
  display: none;
}
@media (min-width: 768px) {
  .description {
    display: block;
    width: 114px;
    margin-top: 61px;
    margin-left: 152px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .description {
    width: 200px;
    margin-top: 108px;
    margin-left: 213px;
  }
}
@media (min-width: 768px) {
  .description__text {
    font-size: 8px;
    line-height: 1.5;
    margin-bottom: 7px;
    color: var(--white-text-color);
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .description__text {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .description__button {
    position: relative;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    transition: transform 0.2s var(--time-function), background-color 0.2s var(--time-function), box-shadow 0.2s var(--time-function);
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .description__button {
    width: 26px;
    height: 26px;
  }
}
@media (min-width: 768px) {
  .description__button:hover, .description__button:focus {
    background-color: var(--title-text-color);
    transform: scale(1.02);
    box-shadow: 2px 2px 4px rgba(10, 10, 10, 0.1);
  }
  .description__button:hover::before, .description__button:hover::after, .description__button:hover .description__icon, .description__button:focus::before, .description__button:focus::after, .description__button:focus .description__icon {
    background-color: var(--white-text-color);
  }
}
@media (min-width: 768px) {
  .description__button::before, .description__button::after, .description__icon {
    display: block;
    position: absolute;
    height: 2px;
    background-color: var(--title-text-color);
    content: "";
  }
}
@media (min-width: 768px) {
  .description__icon {
    right: 5px;
    width: 6px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .description__icon {
    right: 8px;
    width: 8px;
  }
}
@media (min-width: 768px) {
  .description__button::before {
    width: 3px;
    right: 6px;
    top: 6px;
    transform: rotate(45deg);
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .description__button::before {
    width: 5px;
    right: 8px;
    top: 10px;
  }
}
@media (min-width: 768px) {
  .description__button::after {
    width: 3px;
    right: 6px;
    bottom: 6px;
    transform: rotate(-45deg);
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .description__button::after {
    width: 5px;
    right: 8px;
    bottom: 10px;
  }
}

.bio-eco {
  position: absolute;
  left: 0;
  bottom: 16px;
}
@media (min-width: 1200px) {
  .bio-eco {
    bottom: 60px;
  }
}

.so-tasty {
  position: absolute;
  right: 0;
  bottom: 0px;
}

.products__name {
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--pretitle-text-color);
}
@media (min-width: 768px) {
  .products__name {
    font-size: 26px;
    line-height: 30px;
  }
}
@media (min-width: 1200px) {
  .products__name {
    font-size: 30px;
    line-height: 34px;
  }
}

.products__title {
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-top: 15px;
}
@media (min-width: 768px) {
  .products__title {
    font-size: 48px;
    line-height: 55px;
  }
}
@media (min-width: 1200px) {
  .products__title {
    font-size: 58px;
    line-height: 66px;
  }
}

@media (min-width: 768px) {
  .products__item {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
}
@media (min-width: 1200px) {
  .products__item {
    gap: 32px;
  }
}

.products__list {
  position: relative;
  width: 280px;
  height: 489px;
  border-radius: 24px;
  margin-top: 140px;
}
@media (min-width: 768px) {
  .products__list {
    width: 224px;
    height: 473px;
  }
}
@media (min-width: 1200px) {
  .products__list {
    width: 368px;
    height: 535px;
  }
}

.products__list::before {
  position: absolute;
  content: " ";
  width: 280px;
  height: 280px;
  top: -20%;
  left: 10%;
}
@media (min-width: 768px) {
  .products__list::before {
    width: 224px;
    height: 224px;
  }
}
@media (min-width: 1200px) {
  .products__list::before {
    width: 368px;
    height: 394px;
  }
}

.ice-cream {
  background-color: #FFB8CA;
}
.ice-cream::before {
  position: absolute;
  content: " ";
  width: 280px;
  height: 280px;
  top: -20%;
  left: 10%;
}
@media (min-width: 768px) {
  .ice-cream::before {
    width: 224px;
    height: 224px;
  }
}
@media (min-width: 1200px) {
  .ice-cream::before {
    width: 368px;
    height: 394px;
  }
}

.ice-coffee {
  background-color: #F0D1A5;
}

.milkshakes {
  background-color: #C2E297;
}

.products__pretitle {
  color: var(--white-text-color);
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding-top: 160px;
}
.products__pretitle::after {
  content: ". . .";
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 6px;
  height: 6px;
  transform: rotate(90deg);
  margin-top: 32px;
}

.products__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white-text-color);
  margin-top: 70px;
}

.products__btn {
  margin: 0 auto;
  display: block;
  position: relative;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 32px;
  transition: transform 0.2s var(--time-function), background-color 0.2s var(--time-function), box-shadow 0.2s var(--time-function);
}

.products__btn:hover,
.products__btn:focus {
  background-color: var(--title-text-color);
  transform: scale(1.02);
  box-shadow: 2px 2px 4px rgba(10, 10, 10, 0.1);
}
.products__btn:hover::before, .products__btn:hover::after,
.products__btn:hover .button__icon,
.products__btn:focus::before,
.products__btn:focus::after,
.products__btn:focus .button__icon {
  background-color: var(--white-text-color);
}

.button-icon {
  fill: brown;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
}/*# sourceMappingURL=index.css.map */