:root {
  --white-color: #fff;
  --white-text-color: #fff;
  --black-text-color: #000;
  --gray-text-color: #907E82;
  --title-text-color: #d41443;
  --pretitle-text-color: #ffa5ba;

  --main-bg-color: #fff5f6;
  --hero-bg-color: #ffb8ca;
  --mobile-menu-bg-color: #e17992;
  --button-hover-color: #ecebeb;

  --icecream-color: #FFB8CA;
  --icecoffe-color: #F0D1A5;
  --milkshakes-color: #C2E297;

  --customer-bg-color: #fafafa;
  --customer-border-color: #e1e1e1;
  --customer-icon-color : #D41342;
  --location-button-color: #D41342;
  --soc-list-color: #FEA5BB;

  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;

  --main-font: 'DM Sans', sans-serif;
  --title-font: 'Titan One', sans-serif;
}

