<section class="section contacts-section" id="contacts">
  <div class="container contacts-section__container">
    <h2 class="visually-hidden">Where are we located?</h2>
    <ul class="branches-list">
      <li class="branches-list__item">
        <div class="branches-list__category category">
          <span class="category__branch-type">Cafe</span>
          <p class="category__city">Chicago</p>
          <p class="category__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="branches-list__timetable timetable">
          <li class="timetable__item">
            <p class="timetable__week-days">Monday - Friday</p>
            <!-- <p class="timetable__opening-hours">
              <time datetime="06:00">06:00 AM</time> -
              <time datetime="22:00">10:00 PM</time>
            </p> -->
            <time class="timetable__opening-hours" datetime="06:00"
              >06:00 AM -
            </time>
            <time class="timetable__opening-hours" datetime="22:00"
              >10:00 PM</time
            >
          </li>
          <li class="timetable__item">
            <p class="timetable__week-days">Saturday - Sunday</p>
            <time class="timetable__opening-hours" datetime="08:00"
              >08:00 AM -
            </time>
            <time class="timetable__opening-hours" datetime="16:00"
              >16:00 PM</time
            >
          </li>
        </ul>
        <ul class="branches-list__contacts contacts">
          <li class="contacts__item">
            <a href="tel:+61(0)383766284" class="contacts__link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__item">
            <a href="mailto:noreply@envato.com" class="contacts__link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="branches-list__item">
        <div class="branches-list__category category">
          <span
            class="category__branch-type category__branch-type--background-color--inverse"
            >Food truck</span
          >
          <p class="category__city">Los Angeles</p>
          <p class="category__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="branches-list__timetable timetable">
          <li class="timetable__item">
            <p class="timetable__week-days">Monday - Friday</p>
            <time class="timetable__opening-hours" datetime="06:00"
              >06:00 AM -
            </time>
            <time class="timetable__opening-hours" datetime="22:00"
              >10:00 PM</time
            >
          </li>
          <li class="timetable__item">
            <p class="timetable__week-days">Saturday - Sunday</p>
            <time class="timetable__opening-hours" datetime="08:00"
              >08:00 AM -
            </time>
            <time class="timetable__opening-hours" datetime="16:00"
              >16:00 PM</time
            >
          </li>
        </ul>
        <ul class="branches-list__contacts contacts">
          <li class="contacts__item">
            <a href="tel:+61(0)383766284" class="contacts__link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__item">
            <a href="mailto:noreply@envato.com" class="contacts__link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="branches-list__item">
        <div class="branches-list__category category">
          <span class="category__branch-type">Cafe</span>
          <p class="category__city">New York</p>
          <p class="category__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="branches-list__timetable timetable">
          <li class="timetable__item">
            <p class="timetable__week-days">Monday - Friday</p>
            <time class="timetable__opening-hours" datetime="06:00"
              >06:00 AM -
            </time>
            <time class="timetable__opening-hours" datetime="22:00"
              >10:00 PM</time
            >
          </li>
          <li class="timetable__item">
            <p class="timetable__week-days">Saturday - Sunday</p>
            <time class="timetable__opening-hours" datetime="08:00"
              >08:00 AM -
            </time>
            <time class="timetable__opening-hours" datetime="16:00"
              >16:00 PM</time
            >
          </li>
        </ul>
        <ul class="branches-list__contacts contacts">
          <li class="contacts__item">
            <a href="tel:+61(0)383766284" class="contacts__link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__item">
            <a href="mailto:noreply@envato.com" class="contacts__link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <div class="container-for-contacts-buttons">
      <button
        type="button"
        class="contacts-section__button"
        data-modal-for-contacts-open
      >
        Our Locations
        <svg class="contacts-section__icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-chevron-right"></use>
        </svg>
      </button>
      <a
        href="https://goit.ua/"
        class="contacts-section__button contacts-section__button--background-color--inverse"
      >
        Franchise
        <svg class="contacts-section__icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-chevron-right"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
