<section class="review">
	<div class="container">
		<ul class="slider">
			<li class="slider__item">
				<div class="slider__image">
					<img src="./images/desktop/gallery-testimonials1-1@1x.png" alt="customer#1" width="85" height="85">
				</div>
				<div class="slider__body">
						<svg class="icon--lines">
							<use href="./images/sprite.svg#icon_lines"></use>
						</svg>
						<svg class="icon--quote" width="54" height="40">
							<use href="./images/sprite.svg#icon_quote"></use>
						</svg>
						<p class="slider__text">
							Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
						</p>
				</div>
				<div class="slider__footer">
						<div class="slider__decor">
							<span></span>
							<span></span>
							<span></span>
						</div>
						<p class="slider__author">
							Emily, Los Angeles
						</p>
				</div>
			</li>
			<li class="slider__item">
				<div class="slider__image">
					<img src="./images/desktop/gallery-testimonials1-1@1x.png" alt="customer#1" width="85" height="85">
				</div>
				<div class="slider__body">
						<svg class="icon--lines">
							<use href="./images/sprite.svg#icon_lines"></use>
						</svg>
						<svg class="icon--quote" width="54" height="40">
							<use href="./images/sprite.svg#icon_quote"></use>
						</svg>
						<p class="slider__text">
							Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
						</p>
				</div>
				<div class="slider__footer">
						<div class="slider__decor">
							<span></span>
							<span></span>
							<span></span>
						</div>
						<p class="slider__author">
							Emily, Los Angeles
						</p>
				</div>
			</li>
			<li class="slider__item">
				<div class="slider__image">
					<img src="./images/desktop/gallery-testimonials1-1@1x.png" alt="customer#1" width="85" height="85">
				</div>
				<div class="slider__body">
						<svg class="icon--lines">
							<use href="./images/sprite.svg#icon_lines"></use>
						</svg>
						<svg class="icon--quote" width="54" height="40">
							<use href="./images/sprite.svg#icon_quote"></use>
						</svg>
						<p class="slider__text">
							Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
						</p>
				</div>
				<div class="slider__footer">
						<div class="slider__decor">
							<span></span>
							<span></span>
							<span></span>
						</div>
						<p class="slider__author">
							Emily, Los Angeles
						</p>
				</div>
			</li>
		</ul>
	</div>
</section>