<footer class="footer">
    <div class="container">
        <div class="footer-blocks">
                <div class="footer-block-1">
                    <p class="footer-block-1__pre-title">homemade ice cream <br>
                        made</p>
                    <h2 class="footer-block-1__title">with <br>
                        passion</h2>
                </div>
                <div class="footer-block-2__list">
                    <ul>
                        <li> 
                            <svg>
                                    <use href="./images/sprite.svg#icon_git">
                                    </use>
                            </svg>
                        </li>
                        <li>
                            <svg>
                                    <use href="./images/sprite.svg#icon_telegram">
                                    </use>
                            </svg>
                        </li>
                        <li>
                            <svg>
                                <use href="./images/sprite.svg#icon_facebook">
                                </use>
                            </svg>
                    </li>
                </ul>
                </div>
                    <ul class="footer-block-2__connect">
                        <li class="footer-block-2">
                            <a class="footer-block-2__telefon" href="tel:+610383766284">
                                Feel free to contact <span class="footer-block-2__telefon__color">+61 (0) 383 766
                                    284</span>
                            </a>
                        </li>
                    </ul>
                </div> 
            </div>
        </div>
    </div>
</footer>
<div class="after__color">
    <p class="after__text">
        © 2022 - IceCream.
        <br>
        All Rights Reserved.
    </p>