<section class="gallery" id="gallery">
  <div class="gallery__container">
    <div class="gallery__box gallery__item ">
      <picture
        ><source
          media="(max-width: 767px)"
          srcset="
            ./images/mobile/gallery-pic5-5@1x.webp 1x,
            ./images/mobile/gallery-pic5-5@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/tablet/gallery-pic5-5@1x.webp 1x,
            ./images/tablet/gallery-pic5-5@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/desktop/gallery-pic5-5@1x.webp 1x,
            ./images/desktop/gallery-pic5-5@2x.webp 2x
          "
          type="image/webp"
        />
        <img src="./images/mobile/gallery-pic5-5@1x.png" alt="ice cream on a plate " class="gallery__images"/>
      </picture>
    </div>
   <div class="gallery__box gallery__box--top">
    <div class="gallery__item ">
        <picture
        ><source
          media="(max-width: 767px)"
          srcset="
            ./images/mobile/gallery-pic5-4@1x.webp 1x,
            ./images/mobile/gallery-pic5-4@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/tablet/gallery-pic5-4@1x.webp 1x,
            ./images/tablet/gallery-pic5-4@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/desktop/gallery-pic5-4@1x.webp 1x,
            ./images/desktop/gallery-pic5-4@2x.webp 2x
          "
          type="image/webp"
        />
      <img src="./images/mobile/gallery-pic5-4@1x.png" alt="an ice cream cone" class="gallery__images"/>
    </picture>
    </div>
    <div class="gallery__item ">
        <picture
        ><source
          media="(max-width: 767px)"
          srcset="
            ./images/mobile/gallery-pic5-6@1x.webp 1x,
            ./images/mobile/gallery-pic5-6@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/tablet/gallery-pic5-6@1x.webp 1x,
            ./images/tablet/gallery-pic5-6@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/desktop/gallery-pic5-6@1x.webp 1x,
            ./images/desktop/gallery-pic5-6@2x.webp 2x
          "
          type="image/webp"
        />
      <img src="./images/mobile/gallery-pic5-6@1x.png" alt="pink eskimo" class="gallery__images"/>
    </picture>
    </div>
    </div>
    <div class=" gallery__box">
        <div class="gallery__item gallery__item--big">
            <picture
        ><source
          media="(max-width: 767px)"
          srcset="
            ./images/mobile/gallery-pic5-1@1x.webp 1x,
            ./images/mobile/gallery-pic5-1@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/tablet/gallery-pic5-1@1x.webp 1x,
            ./images/tablet/gallery-pic5-1@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/desktop/gallery-pic5-1@1x.webp 1x,
            ./images/desktop/gallery-pic5-1@2x.webp 2x
          "
          type="image/webp"
        />
      <img src="./images/mobile/gallery-pic5-1@1x.png" alt="many ice cream cones" class="gallery__images" />
    </picture>
        </div>
        <div class="gallery__item gallery__item--wormwood">
        <picture
        ><source
          media="(max-width: 767px)"
          srcset="
            ./images/mobile/gallery-pic5-7@1x.webp 1x,
            ./images/mobile/gallery-pic5-7@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/tablet/gallery-pic5-7@1x.webp 1x,
            ./images/tablet/gallery-pic5-7@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/desktop/gallery-pic5-7@1x.webp 1x,
            ./images/desktop/gallery-pic5-7@2x.webp 2x
          "
          type="image/webp"
        />
      <img src="./images/mobile/gallery-pic5-7@1x.png" alt="girl with ice cream"  class="gallery__images"/>
        </div>
    </div>
    <div class="gallery__box gallery__box--top">
        <div class="gallery__item ">
            <picture
        ><source
          media="(max-width: 767px)"
          srcset="
            ./images/mobile/gallery-pic5-9@1x.webp 1x,
            ./images/mobile/gallery-pic5-9@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/tablet/gallery-pic5-9@1x.webp 1x,
            ./images/tablet/gallery-pic5-9@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/desktop/gallery-pic5-9@1x.webp 1x,
            ./images/desktop/gallery-pic5-9@2x.webp 2x
          "
          type="image/webp"
        />
      <img src="./images/mobile/gallery-pic5-9@1x.png" alt="ice cream in a bowl"class="gallery__images"/>
            </picture>
        </div>
        <div class="gallery__item ">
        <picture
        ><source
          media="(max-width: 767px)"
          srcset="
            ./images/mobile/gallery-pic5-8@1x.webp 1x,
            ./images/mobile/gallery-pic5-8@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/tablet/gallery-pic5-8@1x.webp 1x,
            ./images/tablet/gallery-pic5-8@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/desktop/gallery-pic5-8@1x.webp 1x,
            ./images/desktop/gallery-pic5-8@2x.webp 2x
          "
          type="image/webp"
        />
      <img src="./images/mobile/gallery-pic5-8@1x.png" alt="ice cream in hand" class="gallery__images" />
    </picture>
        </div>
    </div>
     <div class="gallery__box">
    <div class="gallery__item "><picture
        ><source
          media="(max-width: 767px)"
          srcset="
            ./images/mobile/gallery-pic5-10@1x.webp 1x,
            ./images/mobile/gallery-pic5-10@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/tablet/gallery-pic5-10@1x.webp 1x,
            ./images/tablet/gallery-pic5-10@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/desktop/gallery-pic5-10@1x.webp 1x,
            ./images/desktop/gallery-pic5-10@2x.webp 2x
          "
          type="image/webp"
        />
      <img src="./images/mobile/gallery-pic5-10@1x.png" alt="dog eating ice cream" class="gallery__images" />
    </picture>
    </div>
    <div class="gallery__item "><picture
        ><source
          media="(max-width: 767px)"
          srcset="
            ./images/mobile/gallery-pic5-12@1x.webp 1x,
            ./images/mobile/gallery-pic5-12@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/tablet/gallery-pic5-12@1x.webp 1x,
            ./images/tablet/gallery-pic5-12@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/desktop/gallery-pic5-12@1x.webp 1x,
            ./images/desktop/gallery-pic5-12@2x.webp 2x
          "
          type="image/webp"
        />
      <img src="./images/mobile/gallery-pic5-12@1x.png" alt="chocolate milkshake" class="gallery__images" />
    </picture>
    </div>
     </div>
    <div class="gallery__box gallery__item"><picture
        ><source
          media="(max-width: 767px)"
          srcset="
            ./images/mobile/gallery-pic5-11@1x.webp 1x,
            ./images/mobile/gallery-pic5-11@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/tablet/gallery-pic5-11@1x.webp 1x,
            ./images/tablet/gallery-pic5-11@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/desktop/gallery-pic5-11@1x.webp 1x,
            ./images/desktop/gallery-pic5-11@2x.webp 2x
          "
          type="image/webp"
        />
      <img src="./images/mobile/gallery-pic5-11@1x.png" alt="cake with ice cream" class="gallery__images" />
</picture>
    </div>
  </div>
</section>
