<div class="backdrop is-hidden" data-modal-for-contacts>
  <div class="modal-for-contacts">
    <div class="map-responsive">
      <iframe
        src="https://www.google.com/maps/d/u/0/embed?mid=1JuiRe4DrhgOBIAR0rGpiUopb8m8A6J0&ehbc=2E312F"
        width="640"
        height="480"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <button type="button" class="close-button" data-modal-for-contacts-close>
      <svg class="close-button__icon">
        <use href="./images/sprite.svg#icon_close"></use>
      </svg>
    </button>
  </div>
</div>
