<section class="section">
  <div class="container">
    <p class="products__name">100% natural</p>
    <h1 class="products__title">products</h1>
    <ul class="products__item">
      <li class="products__list ice-cream">
        <h2 class="products__pretitle">ice cream</h2>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products__btn"></button>
      </li>
      <li class="products__list ice-coffee">
        <h2 class="products__pretitle">ice coffee</h2>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products__btn"></button>
      </li>
      <li class="products__list milkshakes">
        <h2 class="products__pretitle">milkshakes</h2>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products__btn"></button>
      </li>
    </ul>
  </div>
</section>
