<section class="section" id="products">
  <div class="container">
    <p class="products__name">100% natural</p>
    <h1 class="products__title">products</h1>
    <ul class="products__item">
      <li class="products__list ice-cream-p">
        <h2 class="products__pretitle">ice cream</h2>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button
          type="button"
          onclick="swaOpen()"
          class="circle-button products-btn"
        >
          <svg
            class="circle-button__p"
            aria-label="more"
            width="12"
            height="12"
          >
            <use href="./images/sprite.svg#icon-arrow-right-solid"></use>
          </svg>
        </button>
        <div id="overlay">
          <div class="popup">
            <button
              class="close-2"
              title="Закрыть окно"
              onclick="swaClose()"
            ></button>
            <p class="zag"><b>340 Cal.</b></p>
            <p>
              Smooth and creamy vanilla soft serve, topped with decadent hot
              fudge sauce. Mmmm!
            </p>
          </div>
        </div>
      </li>

      <li class="products__list ice-coffee">
        <h2 class="products__pretitle">ice coffee</h2>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button
          type="button"
          onclick="swaOpen2()"
          class="circle-button products-btn"
        >
          <svg
            class="circle-button__p"
            aria-label="more"
            width="12"
            height="12"
          >
            <use href="./images/sprite.svg#icon-arrow-right-solid"></use>
          </svg>
        </button>
        <div id="overlay2">
          <div class="popup">
            <button
              class="close-2"
              title="Закрыть окно"
              onclick="swaClose2()"
            ></button>
            <p class="zag"><b class="cals">90 Cal.</b></p>
            <p>
              Our Iced Latte recipe combines espresso with cold whole milk,
              mixed with your choice of flavor at certain locations.
            </p>
          </div>
        </div>
      </li>
      <li class="products__list milkshakes">
        <h2 class="products__pretitle">milkshakes</h2>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button
          type="button"
          onclick="swaOpen3()"
          class="circle-button products-btn"
        >
          <svg
            class="circle-button__p"
            aria-label="more"
            width="12"
            height="12"
          >
            <use href="./images/sprite.svg#icon-arrow-right-solid"></use>
          </svg>
        </button>
        <div id="overlay3">
          <div class="popup">
            <button
              class="close-2"
              title="Закрыть окно"
              onclick="swaClose3()"
            ></button>
            <p class="zag"><b class="cals">480 Cal.</b></p>
            <p>
              Vanilla shake is made with our creamy vanilla soft serve and
              topped with whipped topping for a cool, tasty treat.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

<script>
  var b = document.getElementById('overlay');
  function swaOpen() {
    b.style.visibility = 'visible';
    b.style.opacity = '1';
    b.style.transition = 'all 0.7s ease-out 0s';
  }
  function swaClose() {
    b.style.visibility = 'hidden';
    b.style.opacity = '0';
  }

  var b2 = document.getElementById('overlay2');
  function swaOpen2() {
    b2.style.visibility = 'visible';
    b2.style.opacity = '1';
    b2.style.transition = 'all 0.7s ease-out 0s';
  }
  function swaClose2() {
    b2.style.visibility = 'hidden';
    b2.style.opacity = '0';
  }

  var b3 = document.getElementById('overlay3');
  function swaOpen3() {
    b3.style.visibility = 'visible';
    b3.style.opacity = '1';
    b3.style.transition = 'all 0.7s ease-out 0s';
  }
  function swaClose3() {
    b3.style.visibility = 'hidden';
    b3.style.opacity = '0';
  }
</script>
