.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 18px;
  min-height: 18px;

  font-weight: 700;

  color: var(--title-text-color);
  background-color: var(--white-color);


  transition: transform 250ms var(--time-function), color 250ms var(--time-function), background-color 250ms var(--time-function), box-shadow 250ms var(--time-function);

  &:hover,
  &:focus {
    background-color: var(--button-hover-color);
    transform: scale(1.01);
    box-shadow: 2px 2px 4px rgba(10, 10, 10, 0.1);
  }

  &--hero-red {
    color: var(--white-color);
    background-color: var(--title-text-color);

    &:hover,
    &:focus {
      color: var(--title-text-color);
      // background-color: var(--white-color);
    }
  }
}