.review {
}
.slider {
	position: relative;

		// .slider__item

		&__item {
		}

		// .slider__image

		&__image {
			margin-bottom: 32px;
			img{
				margin: 0 auto;
			}
		}

		// .slider__body

		&__body {
			position: relative;
			width: 280px;
			height: 308px;
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 16px;
			background-color: var(--customer-bg-color);
		}

		// .slider__text

		&__text {
			position: absolute;
			top: 43px;
			left: 50%;
			transform: translateX(-50%);
			width: 157px;
			font-family: var(--main-font);
			font-weight: 500;
			font-size: 12px;
			line-height: 2.55;
			text-align: center;
		}

			// .slider__footer

	&__footer {
	}

		// .slider__decor

		&__decor {
		}

		// .slider__author

		&__author {
		}
}
.icon {

		// .icon--quote

		&--quote {
			position: absolute;
			top: 30px;
			left: 53px;
		}

		// .icon--lines

		&--lines {
			position: absolute;
			top: 74px;
			left: 50%;
			transform: translateX(-50%);
			display: block;
			width: 180px;
			height: 217px;
		}
}

/* Слайдер */
.slick-slider{
	// min-width: 0; 1
}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{
	display: none;
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{
	display: flex;
	justify-content: center;
	align-items: center;
}
.slick-dots li{
	list-style: none;
	margin: 0 8px;
	cursor: pointer;
}
/* Активная точка */
.slick-dots li.slick-active button{
	background-color: transparent;
	border: 1px solid #ffaacc;
}
/* Элемент точки */
.slick-dots li button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #ffaacc88;
	border-radius: 50%;
	cursor: pointer;
}