.products__name {
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: var(--pretitle-text-color);

    @include for-tablet-up {
        font-size: 26px;
        line-height: 30px;
    }

    @include for-desktop-up {
        font-size: 30px;
        line-height: 34px;
    }
}

.products__title {
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-top: 15px;

    @include for-tablet-up {
        font-size: 48px;
        line-height: 55px;
    }

    @include for-desktop-up {
        font-size: 58px;
        line-height: 66px;
    }
}

.products__item {


    @include for-tablet-up {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }

    @include for-desktop-up {
        gap: 32px;
    }
}

.products__list {
    position: relative;

    width: 280px;
    height: 489px;
    border-radius: 24px;
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;


    @include for-tablet-up {
        width: 224px;
        height: 473px;
        margin-top: 158px;
    }

    @include for-desktop-up {
        width: 368px;
        height: 535px;
        margin-top: 280px;
    }

}


.ice-cream-p {
    background-color: #FFB8CA;

    &::before {
        position: absolute;
        content: " ";
        display: block;
        width: 280px;
        height: 280px;
        top: -29%;
        left: 0;
        background-image: url(../images/mobile/products-ice-cream@1x.png);

        @include for-pixel-ratio-2 {
            background-image: url(../images/mobile/products-ice-cream@2x.png);
        }


        @include for-tablet-up {
            width: 224px;
            height: 224px;
            background-image: url(../images/tablet/products-ice-coffee@1x.png);

            @include for-pixel-ratio-2 {
                background-image: url(../images/tablet/products-ice-coffee@2x.png);
            }
        }

        @include for-desktop-up {
            width: 368px;
            height: 394px;
            top: -49%;
            background-image: url(../images/desktop/products-ice-cream@1x.png);

            @include for-pixel-ratio-2 {
                background-image: url(../images/desktop/products-ice-cream@2x.png);
            }


        }
    }
}

.ice-coffee {
    background-color: #F0D1A5;

    &::before {
        position: absolute;
        content: " ";
        display: block;
        width: 280px;
        height: 280px;
        top: -29%;
        left: 0;
        background-image: url(../images/mobile/products-ice-coffee@1x.png);

        @include for-pixel-ratio-2 {
            background-image: url(../images/mobile/products-ice-coffee@2x.png);
        }

        @include for-tablet-up {
            width: 224px;
            height: 224px;
            background-image: url(../images/tablet/products-ice-cream@1x.png);

            @include for-pixel-ratio-2 {
                background-image: url(../images/tablet/products-ice-cream@2x.png);
            }
        }

        @include for-desktop-up {
            width: 368px;
            height: 394px;
            top: -49%;
            background-image: url(../images/desktop/products-ice-coffee@1x.png);

            @include for-pixel-ratio-2 {
                background-image: url(../images/desktop/products-ice-coffee@2x.png);
            }
        }
    }
}

.milkshakes {
    background-color: #C2E297;

    &::before {
        position: absolute;
        content: " ";
        display: block;
        width: 280px;
        height: 280px;
        top: -29%;
        left: 0;
        background-image: url(../images/mobile/products-ice-milkshakes@1x.png);

        @include for-pixel-ratio-2 {
            background-image: url(../images/mobile/products-ice-milkshakes@2x.png);
        }

        @include for-tablet-up {
            width: 224px;
            height: 224px;
            background-image: url(../images/tablet/products-ice-milkshakes@1x.png);

            @include for-pixel-ratio-2 {
                background-image: url(../images/tablet/products-ice-milkshakes@2x.png);
            }
        }

        @include for-desktop-up {
            width: 368px;
            height: 394px;
            top: -49%;
            background-image: url(../images/desktop/products-ice-milkshakes@1x.png);

            @include for-pixel-ratio-2 {
                background-image: url(../images/desktop/products-ice-milkshakes@2x.png);
            }
        }
    }
}

.products__pretitle {
    color: var(--white-text-color);
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding-top: 160px;


    &::after {
        content: "...";
        display: flex;
        align-items: center;
        margin: 0 auto;
        width: 22px;


    }

    @include for-desktop-up {
        font-size: 30px;
        line-height: 34px;
    }
}

.products__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--white-text-color);
    width: 200px;
    margin: 0 auto;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.products__btn {
    margin: 0 auto;
    display: block;
    position: relative;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-top: 32px;
    // transition: transform 0.2s var(--time-function), background-color 0.2s var(--time-function), box-shadow 0.2s var(--time-function);
    transition: transform 0.2s var(--time-function), background-color 0.2s var(--time-function);
}

.products__btn:hover,
.products__btn:focus {
    background-color: var(--title-text-color);
    transform: scale(1.02);
    // box-shadow: 2px 2px 4px rgb(10 10 10 / 10%);

    &::before,
    &::after,
    .button__icon {
        background-color: var(--white-text-color);
    }
}


.circle-button__p {
    fill: currentColor;
}

.products-btn {
    margin: auto;
}

// Modal-window
.my_modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    display: none;
    margin: 0;
    padding: 0;
}

.my_modal:target {
    display: block;
    overflow-y: auto;
}

.my_modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

@media (min-width:576px) {
    .my_modal-dialog {
        max-width: 460px;
        margin: 30px auto;
    }
}

.my_modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
}

@media (min-width:768px) {
    .my_modal-content {
        // -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        // box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
}

.my_modal-header {
    display: block;
    padding: 14px 14px 4px;
}

.my_modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
    border-bottom: 1px solid #d4d4d4;
}

.close {
    padding: 1px 5px 0;
    border: 1px solid #000;
    border-radius: 50%;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
    top: 4px;
    right: 4px;
    position: absolute;
}

.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}

.my_modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}

// #overlay {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.4);
//     z-index: 999;
//     overflow: auto;
//     visibility: hidden;
//     opacity: 0;
//     transition: opacity 0.7s ease-in 0s;
// }

.popup {
    top: 50%;
    left: 0;
    font-size: 14px;
    margin: auto;
    min-width: 200px;
    max-width: 600px;
    position: absolute;
    padding: 15px 20px;
    border: 1px solid #666;
    background-color: #FFB8CA;
    color: #fff;
    z-index: 1000;
    border-radius: 24px;
    text-transform: uppercase;
    text-align: center;
    // font: 14px/18px 'Tahoma', Arial, sans-serif;
    box-shadow: 0 0px 14px rgba(0, 0, 0, 0.4);
}

.close {
    display: flex;
    justify-content: center;
    align-items: center;

    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    position: absolute;
    border: none;
    border-radius: 50%;
    background-color: var(--title-text-color);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    outline: none;
}

.close:before {
    color: #fff;
    content: "X";
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}

.close:hover {
    background-color: var(--title-text-color);
}

#overlay .popup p.zag {
    margin: 20px 0 10px;
    padding: 0 0 6px;
    color: tomato;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid tomato;
}